@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="center">
    <h1 class="display-4 text-center">Welcome to Maurice Tech Solutions!</h1>
    <br/>
    <h4 class="text-center">Register now and enjoy all the benefits Maurice can offer you!</h4>
</div>
