@page
@model IndexModel
@{
    string cn = ViewData["CompanyName"].ToString();
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["CompanyName"]!</h1>
</div>
