<div class="alert alert-info" role="alert">
    <svg class="bi bi-alert-triangle text-success" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"></svg>
    <h4 class="alert-heading">Sorry...</h4>
    <p>This part of the website is still under construction.</p>
</div>

