@inject IEditPageService _editPageService

<div class="overlay-image _b1 ">
    <div class=" image" />
    <div class=" text _2 ">
        <h1>@PageName</h1>
        <h4>@Subtitle</h4>
        <AuthorizeView Roles="@_roles">
            <Authorized>
                <SfButton CssClass="e-small" OnClick="ToggleEdit">@_editMode</SfButton>
            </Authorized>
        </AuthorizeView>
    </div>
</div>


@code {
    [Parameter]
    public string PageName { get; set; }

    [Parameter]
    public string Subtitle { get; set; }

    private string _editMode;

    private string _roles = $"{Constants.Security.ADMINISTRATOR},{Constants.Security.PRIVILEGED_EMPLOYEE},{Constants.Security.EMPLOYEE}";

    protected override Task OnInitializedAsync()
    {
        _editMode = (_editPageService.GetEditMode() ? "Save" : "Edit");
        return base.OnInitializedAsync();
    }

    private void ToggleEdit()
    {
        if (_editPageService.GetEditMode() != true)
        {
            _editMode = "Save";
        }
        else
        {
            _editMode = "Edit";
        }

        _editPageService.ToggleEditMode();
    }
}
