@*<div>
        <div id="header-container" />
        <div id="header-content">
            <h1>@PageName</h1>
            <h4>@Subtitle</h4>
        </div>
    </div>*@

    <div class=" overlay-image _b1 ">
        @*<img class=" image _b2 " src="/Images/Coding/JSBlazorCode.png" alt="Image could not load" />*@
        <div class=" image _b2 " />
        <div class=" text _2 ">
            <h1>@PageName</h1>
            <h4>@Subtitle</h4>
        </div>

    </div>


@code {
    [Parameter]
    public string PageName { get; set; }

    [Parameter]
    public string Subtitle { get; set; }
}
