@page "/authentication/login"

    <PageHeaderComponent PageName="MSS Portal" Subtitle="Log in to continue to Maurice Software Solutions" />

    <div class="center-content padding-vertical-top">
        <LoginRegisterComponent IsLogin="true" />
    </div>

@code {

}
