@page "/authentication/login"

    <PageHeaderComponent PageName="MSS Portal" Subtitle="Log in to continue to Maurice Software Solutions" />

    <div class="row col-12 padding-vertical-top">
        <div class="col-xl-2 col-lg-2 col-md-1 col-sm-1" />
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10">
            <LoginRegisterComponent IsLogin="true" />
        </div>
        <div class="col-xl-2 col-lg-2 col-md-1 col-sm-1" />
    </div>

@code {

}
