@page "/authentication/login"

<PageHeaderComponent PageName="MSS Portal" Subtitle="Log in to continue to Maurice Software Solutions" />

<div class="page-body">
    <div class="padding-vertical-top page-body-normal-side-padding">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10">
            <LoginRegisterComponent IsLogin="true" />
        </div>
    </div>
</div>

@code {

}
