@page "/authentication/logout"
@inject IToastService _toastService
@inject ISpinnerService _spinnerService
@inject IHttpClientFactory _httpClientFactory
@inject ILoginService  _loginService

<PageHeaderComponent PageName="Logout" Subtitle="@message" />

<div class="page-body">
    <div class="padding-vertical-top padding-vertical-bottom page-body-normal-side-padding">

    </div>
</div>

        @code{
            private string message;

            protected async override void OnInitialized()
            {
                var url = $"{Constants.API_BASE_ADDRESS}/{Constants.APIControllers.IDENTITY}/{Constants.IdentityControllerEndpoints.LOG_OUT}";

                var request = new HttpRequestMessage
                {
                    RequestUri = new Uri(url),
                    Method = HttpMethod.Head
                };

                HttpResponseMessage result = new HttpResponseMessage();

                try
                {
                    message = "Trying to logout";
                    _spinnerService.ShowSpinner(message);


                    result = await _httpClientFactory.CreateClient(BlazorConstants.HttpClients.API).SendAsync(request);

                    _spinnerService.HideSpinner();
                }
                catch (Exception ex)
                {
                    message = "Logout failed";
                    _toastService.ShowExceptionToast(ex);
                }

                if (result.IsSuccessStatusCode)
                {
                    message = "Logout was succesfull";

                    _toastService.ShowSuccessToast("You are now logged out", message);

                    await _loginService.Logout();
                }

                base.OnInitialized();
            }
        }
