@page "/authentication/logout"
@inject HttpClient _httpClient
@inject ILoginService  _loginService

<h1>Logging out</h1>

@code{
    [CascadingParameter(Name = nameof(MainLayoutComponent))]
    public MainLayoutComponent MainLayoutInstance { get; set; }

    protected async override void OnInitialized()
    {
        var url = $"{Constants.API_BASE_ADDRESS}/{Constants.APIControllers.IDENTITY}/{Constants.IdentityControllerEndpoints.LOG_OUT}";

        var request = new HttpRequestMessage
        {
            RequestUri = new Uri(url),
            Method = HttpMethod.Head
        };

        HttpResponseMessage result = new HttpResponseMessage();

        try
        {
            MainLayoutInstance.ShowSpinner();

            result = await _httpClient.SendAsync(request);

            MainLayoutInstance.HideSpinner();
        }
        catch (Exception ex)
        {
            //TODO
        }

        if (result.IsSuccessStatusCode)
        {
            MainLayoutInstance.ShowToast(new ToastModel
            {
                CssClass = "e-toast-success",
                Icon = "e-success toast-icons",
                Title = "Logout was succesfull",
                Content = $"You are now logged out.",
                ShowProgressBar = true
            });

            await _loginService.Logout();
        }

        base.OnInitialized();
    }
}