@page "/authentication/tokenexpired"

<PageHeaderComponent PageName="Session expired" Subtitle="Your session time has ended" />

<h4>You can <striong><a href="@BlazorConstants.Pages.Authentication.LOGIN">login</a></striong> again to refresh your session</h4>

@code {
    
}
