@page "/authentication/tokenexpired"

<h1>Your session time has ended</h1>

<h4>You can <striong><a href="@BlazorConstants.Pages.Authentication.LOGIN">login</a></striong> again to refresh your session</h4>

@code {
    
}
