@page "/authentication/unauthorized"

<h1>Unauthorized</h1>

<h4>You are not allowed to see this content</h4>

<p>What caused this problem?</p>
<p>- It could be that your session time has expired. A simple <a href="/login">login</a> would eliminate the issue.</p>
<p>- It could be that you are actually not allowed to see this content. You could ask an administrator for help with this issue.</p>
<p>- It could be that your security token somehow got deleted. This usally happpen when you clear your browser cookies and other site data. You will have to <a href="/login">login</a> again to eliminate the issue.</p>

@code {
    
}
