@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenuComponent />
</div>

<div class="main">
    <div class="top-row px-4">
        <span>
            <AuthorizeView>
                <Authorized>
                    Name: @context.User.Identity.Name |
                    Access level: @context.User.FindFirst(c => c.Type == ClaimTypes.Role).Value |
                </Authorized>
            </AuthorizeView>
            This site is build by <strong><a href="https://www.linkedin.com/in/mauriceslegtenhorst/" target="_blank">Maurice Slegtenhorst</a></strong> with <strong><a href="http://blazor.net" target="_blank">Blazor WebAssembly</a></strong>
        </span>
    </div>

    <div class="content px-4">
        <div id="spinnerContainer"></div>
        <SfSpinner @ref="_spinner" Target="#spinnerContainer" Label="Loading" />
        @Body
    </div>

    <div class="col-lg-4 control-section">
        <SfToast @ref="_loginResultToast" TimeOut="0" ShowCloseButton="true" ID="toast_type">
            <ToastPosition X="Center" Y="Top"></ToastPosition>
        </SfToast>
    </div>
</div>

@code
{
    public SfSpinner _spinner { get; set; }
    private string _spinnerTarget = "#spinnerContainer";

    public SfToast _loginResultToast { get; set; }
    private ToastModel toastModel;
}
