@using Syncfusion.Blazor.Cards

    <style>
        .content {
            padding: 10px;
        }

        
    </style>

    <div class="alert alert-warning" role="alert">
        <div class="row">
            <div class="content">
                <p><h4> Under construction</h4></p>
            </div>
        </div>
        <div class="row">
            <p class="content">
                This part of the site is under construction and is therefore unavailible.
                Thank you for your patience.
            </p>
        </div>
        @if (BuildDescription != null)
        {
            <div class="row">
                <p class="content">
                    <span class="oi oi-info content" aria-hidden="true"></span>
                    @BuildDescription
                </p>
            </div>
        }
    </div>


@code {
    [Parameter]
    public int Width { get; set; } = 200;

    [Parameter]
    public int Height { get; set; } = 100;

    [Parameter]
    public string BuildDescription { get; set; }
}
