@using Syncfusion.Blazor.Cards

    <div class="alert alert-warning" role="alert">
        <p><strong> Under construction</strong></p>
        <p>
            This part of the site is under construction and is therefore unavailible. 
            Thank you for your patience.
        </p>
    </div>


@code {
    [Parameter]
    public int Width { get; set; } = 200;

    [Parameter]
    public int Height { get; set; } = 100;
}
