@page "/error/notfound"

<PageHeaderComponent PageName="Not found" Subtitle="Page unavailible" />

<div class="row col-12 padding-vertical-top">
    <div class="col-xl-2 col-lg-2 col-md-1 col-sm-1" />
    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10">
        <AlertComponent AlertType="AlertComponent.AlertTypeEnum.Warning" Title="Nope, nothing here" Subtitle="Nothing was found at this address" />
    </div>
    <div class="col-xl-2 col-lg-2 col-md-1 col-sm-1" />
</div>

@code {

}
