@page "/account/register/accountverification"

<PageHeaderComponent PageName="Email verification process" @bind-Subtitle="subTitleContent" />


@*<div class="col-4">
    <p>Reading confirmation data</p>
</div>

<div class="col-4">
    <p>Sending data to server</p>
</div>

<div class="col-4">
    <p>Receive OK from server</p>
</div>*@

