@page "/account/confirmemailadmin/"
@inject HttpClient _httpClient
@using Syncfusion.Blazor.Spinner

<h1>Email confirmation</h1>

<h3>@message</h3>

<div id="container"></div>
<SfSpinner @ref="spinnerComponent" Target="#container" Label="Confirming email">
</SfSpinner>

@code {
    [Parameter]
    public string UserId { get; set; }

    [Parameter]
    public string Code { get; set; }

    private string message;

    private SfSpinner spinnerComponent;
    private string targetSpinner = "#container";

    private ConfirmEmailHolder confirmEmailHolder;

    public ConfirmEmailAdmin()
    {
        spinnerComponent.ShowSpinner(targetSpinner);

        if (confirmEmailHolder == null)
            confirmEmailHolder = new ConfirmEmailHolder
            {
                UserId = UserId,
                Code = Code
            };
        else
        {
            confirmEmailHolder.UserId = UserId;
            confirmEmailHolder.Code = Code;
        }

        string uri = $"{Constants.APIControllers.ACCOUNT}/{Constants.AccountControllerEndpoints.CONFIRM_EMAIL}";

        var result = _httpClient.PutAsJsonAsync(uri, confirmEmailHolder);

        if (result.IsCompletedSuccessfully)
        {

        }
    }
}
