@page "/account/register"

<PageHeaderComponent PageName="Register" Subtitle="Registration form" />

<div class="center-content padding-vertical-top" >
    <LoginRegisterComponent IsLogin="false" />
</div>

    @code {

    }
