<div class="alert alert-info" role="alert">
    <p><strong> Steps to create an account</strong></p>
    <p>#1 - Fill in your email address, a strong password and click the register button.</p>
    <p>#2 - Confirm your email by checking your email account for any confirmation messages and clicking the confirm link.</p>
    <p>#3 - Every account needs to be confirmed by an authorized person. This may take some time. Please be patient.</p>
    <p>#3 - After both confirmations are passed your account will be activated. Enjoy all the joys provided by Maurice!</p>
</div>

@code {

}
