@page "/account/register"

<PageHeaderComponent PageName="Register" Subtitle="Create an account" />

<div class="row col-12 padding-vertical-top">
    <div class="col-xl-2 col-lg-2 col-md-1 col-sm-1" />
    <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10">
        <LoginRegisterComponent IsLogin="false" />
    </div>
    <div class="col-xl-2 col-lg-2 col-md-1 col-sm-1" />
</div>

@code {

}
