@page "/account/accountsubmitted"

<h1>Account submitted for review</h1>

<div class="content">
    <p>
        Thank you for submitting your account. Please confirm your email address by checking your mail and clicking the confirmation link.
        Keep in mind Maurice needs to confirm your account aswell befor you can use it.
    </p>
</div>
