@page "/account/register"

<PageHeaderComponent PageName="Register" Subtitle="Registration form" />

<div class="center-content">
    <LoginRegisterComponent IsLogin="false" />
</div>

    @code {

    }
