@page "/cloudstorage/personalstorage"
@attribute [Authorize]
@using Syncfusion.Blazor.FileManager;

<PageHeaderComponent PageName="Cloud storage" Subtitle="Your own personal cloud storage!" />

<div class="page-body">
    <div class="padding-vertical-top padding-vertical-bottom page-body-normal-side-padding">

        <SfFileManager>
            <FileManagerAjaxSettings Url="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/FileOperations"
                                     UploadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Upload"
                                     DownloadUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/Download"
                                     GetImageUrl="https://ej2-aspcore-service.azurewebsites.net/api/FileManager/GetImage">
            </FileManagerAjaxSettings>
        </SfFileManager>

    </div>
</div>

@code {
    private IEnumerable<string> messages;

    protected override Task OnInitializedAsync()
    {
        messages = new[] { BlazorConstants.UNDER_CONSTRUCTION_MESSAGE_AVAILIBLE, "Not yet connected to storage." };

        return base.OnInitializedAsync();
    }
}
