@page "/"
    <AuthorizeView>
        <NotAuthorized>
            <div class="align-content-xl-center">
                <h1 class="text-center justify-content-center">Subscribe now and enjoy all the benefits MSS can offer you!</h1>
            </div>
        </NotAuthorized>
        
        <Authorized>

        </Authorized>
    </AuthorizeView>



@code{
    protected override Task OnInitializedAsync()
    {


        return base.OnInitializedAsync();
    }
}
