$color-main: #353535;
$color-blue: #0466d6;
$color-smoke-white: #eeeeee;
$color-light-green: #5baab3;
$color-orange: #b43e07;
$color-black: #000000;
$color-gray: #393e46;
$color-dark-gray: #201f1f;

$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Segoe, Arial, sans-serif;
