@page "/credits"

<h1>Credits</h1>

<AlertComponent AlertType="@AlertComponent.AlertTypeEnum.Warning" Title="@BlazorConstants.UNDER_CONSTRUCTION_TITLE" ContentMessages="@messages" />

@code {
    private IEnumerable<string> messages;

    protected override Task OnInitializedAsync()
    {
        messages = new[] { BlazorConstants.UNDER_CONSTRUCTION_MESSAGE };

        return base.OnInitializedAsync();
    }
}
