@page "/"
@inject NavigationManager _navigationManager

<PageHeaderComponent PageName="Welcome to Maurice Software Solutions!" Subtitle="A site about software and Maurice" />

<style>
    .img {
        display: block;
        width: 100%;
        height: 40vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #img_logo {
        background-image: url('/Images/Logo/logo-horizontal-small.png');

    }

    #img_maurice {
        background-image: url('/Images/Maurice/Pasfoto.JPG');
    }
</style>

<div class="padding-side">

    <hr class="solid">

    <div class="padding-vertical-bottom">

        <div class="row m-0">

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 p-0">
                <div class="col-margin-right">
                    <div class="reset-card-jusification e-card col-12 std-card-height">


                           <div id="img_logo" class="img"/>


                        <div class="e-card-header">
                            <div class="e-card-header-caption">
                                <div class="e-card-header-title">What is MSS?</div>
                            </div>
                        </div>

                        <div class="e-card-content">
                            <p>@Constants.MSS.WHAT_IS_MSS</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 p-0">
                <div class="col-margin-left">
                    <div class="reset-card-jusification e-card col-12 std-card-height">

                        <div id="img_maurice" class="img"/>

                        <div class="e-card-header">
                            <div class="e-card-header-caption">
                                <div class="e-card-header-title">Software Developer</div>
                                <div class="e-card-sub-title">Maurice Slegtenhorst</div>
                            </div>
                        </div>

                        <div class="e-card-content">
                            C#, SQL, SQLite, HTML, XAML, XML, JavaScript, SCSS and CSS. Born on 27th of april 1991. Living in The Netherlands, Zuid-Holland, Voorschoten. Loves coding.
                        </div>

                        <div class="e-card-actions">

                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="OnClickLinkedIN">LinkedIn</SfButton>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="OnClickMoreAbout">More about</SfButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="padding-vertical-top">

        <div class="row m-0">

            <div class="col-12 p-0">
                    <div class="reset-card-jusification e-card col-12 std-card-height">
                        <img src="images/maurice/pasfoto.jpg" alt="Maurice photo" class="card-image">
                        <div class="e-card-header">
                            <div class="e-card-header-caption">
                                <div class="e-card-header-title">Software Developer</div>
                                <div class="e-card-sub-title">Maurice Slegtenhorst</div>
                            </div>
                        </div>


                        <div class="e-card-content">
                           
                        </div>

                        <div class="e-card-actions">

                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="OnClickLinkedIN">LinkedIn</SfButton>
                        </div>
                    </div>
            </div>
        </div>
    </div>*@
</div>

@code{
    private IEnumerable<string> messages;

    protected override Task OnInitializedAsync()
    {
        messages = new[] { BlazorConstants.UNDER_CONSTRUCTION_MESSAGE };

        return base.OnInitializedAsync();
    }

    private void OnClickLinkedIN()
    {
        _navigationManager.NavigateTo("https://www.linkedin.com/in/mauriceslegtenhorst/");
    }

    private void OnClickMoreAbout()
    {
        _navigationManager.NavigateTo("https://www.linkedin.com/in/mauriceslegtenhorst/");
    }
}
