@page "/logout"
@inject HttpClient _httpClient
@inject ILoginService  _loginService

<h1>Logging out</h1>

@code{
    protected async override void OnInitialized()
    {
        var url = $"{Constants.API_BASE_ADDRESS}/{Constants.APIControllers.IDENTITY}/{Constants.IdentityControllerEndpoints.LOG_OUT}";

        var request = new HttpRequestMessage
        {
            RequestUri = new Uri(url),
            Method = HttpMethod.Head
        };

        HttpResponseMessage result = new HttpResponseMessage();

        try
        {
            result = await _httpClient.SendAsync(request);
        }
        catch (Exception ex)
        {
            //TODO
        }

        if (result.IsSuccessStatusCode)
        {
            await _loginService.Logout();
        }

        base.OnInitialized();
    }
}