@page "/numerictextbox-features"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Inputs
<h2>Numeric TextBox</h2>
<br/>
<div id = "ControlRegion">
<div class="control-section">
        <div class='rangevalidation'>
            <div class="control-label">
                Numeric TextBox
            </div>
            <SfNumericTextBox TValue="double?" Min="@setMin" Max="@setMax" Value=15 Step=@setIncrement></SfNumericTextBox>
        </div>
    </div>
</div>
<br/>
<div>
  <h3>Selected Features:</h3>
    <ul class="ulstyle">
      <li class="list"> Numeric TextBox Samples - Range Validation</li>
      <li class="list"> Theme - Fabric</li>
    </ul>
</div>
<br/>
<style>
    .rangevalidation {
        width: 25%;
        margin: 0 auto;
         padding-top:20px;
        padding-bottom:20px;
    }
    .selectionText {
        margin: 10px;
        width: 100px;
    }
    .apply-limit {
        margin-top: 10px;
    }
    .control-label {
        padding: 0px 0px 10px 0px;
        font-size: 12px;
    }
    .property {
        padding-left: 10px;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 15px;
    }
    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }
    .list {
    float: left;
    line-height: 20px;
    margin: 10px;
    min-width: 350px;
    }
</style>
@code{
    private double setMin { get; set; } = 10;
    private double setMax { get; set; } = 100;
    private double setIncrement { get; set; } = 1;
}
